<div class="min-w-screen
min-h-screen
bg-teal-900
flex
items-center
justify-center
px-5
py-5">
    <div class="w-full
    mx-auto
    rounded-xl
    shadow-xl
    text-gray-800
    relative
    overflow-hidden" style="max-width: 350px">
        <h1 class="text-center text-white py-10 text-3xl font-bold">Angular Calculator</h1>
        <!-- calculator screen -->
        <div class="w-full
        h-40
        bg-gradient-to-b
        from-gray-800
        to-gray-700
        text-right">
            <!-- function screen -->
            <div class="w-full
            py-5
            px-6
            text-2xl
            text-white
            font-thin">
                {{funcT}}
            </div>
            <!-- number screen -->
            <div class="w-full
            py-5
            px-6
            text-6xl
            text-white
            font-thin">
                {{calValue |number}}
            </div>
        </div>
        <!-- result screen -->
        <!-- button area -->
        <div class="w-full
        bg-gradient-to-b
        from-red-500
        to-red-800">
            <!-- first button row -->
            <div class="flex w-full">
                <!-- clear button -->
                <div class="w-2/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:bg-red-700 hover:bg-opacity-20
                    text-white
                    text-opacity-80
                    text-xl
                    font-light"
                    (click)="onClickValue('c','function')">C</button>
                </div>
                <!-- end of clear button -->
                <!-- percentage button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    focus:outline-none
                    hover:bg-red-700
                    hover:bg-opacity-50
                    text-xl
                    text-white
                    font-light"
                    (click)="onClickValue('%','function')">%</button>
                </div>
                <!-- end of percentage button -->
                <!-- division button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    focus:outline-none
                    hover:bg-red-700
                    hover:bg-opacity-50
                    text-2xl
                    text-white
                    font-light"
                    (click)="onClickValue('/','function')">/</button>
                </div>
                <!-- end of division button -->
            </div>
            <!-- end of first button row -->
            <!-- second button row -->
            <div class="flex w-full">
                <!-- number 7 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('7','number')">7</button>
                </div>
                <!-- end of number 7 button -->
                <!-- number 8 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('8','number')">8</button>
                </div>
                <!-- end of number 8 button -->
                <!-- number 9 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('9','number')">9</button>
                </div>
                <!-- end of number 9 button -->
                <!-- multipication button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('*','function')">*</button>
                </div>
                <!-- end of multipication button -->
            </div>
            <!-- end of second button row -->
            <!-- third button row -->
            <div class="flex w-full">
                <!-- number 4 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('4','number')">4</button>
                </div>
                <!-- end of number 4 button -->
                <!-- number 5 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('5','number')">5</button>
                </div>
                <!-- end of number 5 button -->
                <!-- number 6 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('6','number')">6</button>
                </div>
                <!-- end of number 6 button -->
                <!-- extraction button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('-','function')">-</button>
                </div>
                <!-- end of extraction button -->
            </div>
            <!-- end of third button row -->
            <!--fourth button row -->
            <div class="flex w-full">
                <!-- number 1 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('1','number')">1</button>
                </div>
                <!-- end of number 1 button -->
                <!-- number 2 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('2','number')">2</button>
                </div>
                <!-- end of number 2 button -->
                <!-- number 3 button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('3','number')">3</button>
                </div>
                <!-- end of number 3 button -->
                <!-- addition button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:ng-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('+','function')">+</button>
                </div>
                <!-- end of addition button -->
            </div>
            <!-- end of fourth button row -->
            <!-- fifth button row -->
            <div class="flex w-full">
                <!-- number 0 button -->
                <div class="w-1/4 border-r border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:bg-red-700hover:bg-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('0','number')">0</button>
                </div>
                <!-- end of number 0 button -->
                <!-- decimal sign button -->
                <div class="w-1/4 border-r border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:bg-red-700hover:bg-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('.','number')">.</button>
                </div>
                <!-- decimal sign button -->
                <!-- equal sign button -->
                <div class="w-2/4 border-r border-red-400">
                    <button class="w-full
                    h-16
                    outline-none
                    hover:bg-red-700hover:bg-opacity-20
                    text-white
                    text-xl
                    font-light"
                    (click)="onClickValue('=','function')">=</button>
                </div>
                <!-- equal sign button -->
            </div>
            <!-- end of fifth button row -->
        </div>
        <!-- end of button area -->
    </div>
</div>